@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: #181818;
    width: 100%;
    height: 100vh;
}

.main-section {
    display: flex;
    position: relative;
    color: #fff;
}

.main-section > img {
    z-index: 000;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

.main-section .return {
    z-index: 222;
    position: absolute;
    padding: 20px 100px;
    cursor: pointer;
    text-decoration: none;
    color: #fff;
    font-size: 16px;
}

.main-section .return:hover {
    text-decoration: underline;
}

.details {
    z-index: 111;
    padding: 64px 100px;
    position: absolute;
    height: 100vh;
    width: 100%;
    background-color: rgba(18, 18, 18, 0.7);
}

.details h1 {
    font-size: calc(2em + 0.7vw);
    line-height: 1.2;
    margin-bottom: 16px;
}

.details a {
    display: inline-block;
    font-size: 16px;
    color: #D2001A;
    margin-top: 24px;
    text-decoration: none;
    transition: 0.3s ease-in-out;
    font-weight:  600;

}

.details a:hover {
    text-decoration: underline;
}


.details>p {
    width: 100%;
    max-width: 75ch;
    font-size: 16px;
    line-height: 1.5;
}

.details h3 {
    font-size: 20px;
    font-weight: 600;
    margin-top: 40px;
}

.details .cast {
    padding: 24px 0;
    margin-top: 8px;
    display: flex;
    flex-wrap: nowrap;
    gap: 32px;
    overflow: auto;
}

.details .cast .character-wrapper {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 0 0 auto;
    transition: 0.5s ease;
    filter: grayscale(1);
}

.details .cast .character-wrapper p {
    font-size: 16px;
    margin-top: 16px;
}

.details .cast .character-wrapper:hover {
    transform: scale(1.2);
    filter: none;
}

.details .cast img {
    
    height: 150px;
    width: 120px;
    cursor: pointer;
    border-radius: 5px;
    object-fit: cover;
}



/*Responsividade*/
@media (max-width: 1040px) {
    .main-section .return {
        padding: 20px 20px;
    }

    .details {
        padding: 64px 20px;
    }

    .details h1 {
        font-size: 2em;
    }

    .cast {
        display: none;
    }
}

